@media (max-width: 1500px) {
    .product {
        top: 60vw;
        left: 50%;
    }
    .nest-card {
        top: 20%;
    }
    div.bg2 {
        z-index: 0;
    }
}

@media (max-width: 1023px) {
    
    .soda{
        width: 100px;
    }
}
@media (max-width: 767px) {
    header img{
        display: none;
    }
    header .author{
        width: 100%;
    }
}

@media (max-width: 750px) {
    .banner .content {
        position: absolute;
        width: var(--width);
        height: 80%;
        gap: 10px;
    }
    #playBtn {
        position: absolute;
        bottom: 20%;
        left: 47%;
        z-index: 99999;
    }
}

@media (max-width: 380px) {
    
}